.about {
    /* display: table-cell; */
    margin-top: 100px;
    height: 60%;
    vertical-align: middle;
    border: 1px transparent;
    background: white;
    margin-bottom: 100px;
}

.title-main {
    display: table-cell;
    height: 60%;
    vertical-align: middle;
    border: 1px transparent;
    background:  #FC534E;
}

.title {
    text-align: center;
    font-size: 5vw;
    line-height: 7vw;
    justify-content: center;
    /* margin-left: 250px; */
    margin-top: 130px;
    color: white;
}

.subtitle {
    text-align: center;
    padding-top: 2%;
    padding-right: 20%;
    font-size: 3.5vw;
    justify-content: center;
    line-height: 4vw;
    margin-left: 280px;
    margin-bottom: 175px;
}

.description-name {
    font-size: 2.5vw;
    line-height: 6vw;
    margin-left: 100px;
    color: #FC534E;
}

.description {
    font-size: 1.5vw;
    line-height: 2.2vw;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.button-section {
    padding-top: 60px;
    padding-bottom: 20px;
    background-color: #FC534E;
}

.signup-button a{
    color: white;
}

.signup-button {
    background: transparent;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 1.5vw;
    display: table-cell;
    vertical-align: middle;
    margin-left: 625px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;
}