.logo-svg {
    width: 70%;
    height: auto;
}

.logo-svg > * {
    -webkit-transition: all 0.16s ease-out 0s;
    -moz-transition: all 0.16s ease-out 0s;
    -ms-transition: all 0.16s ease-out 0s;
    transition: all 0.16s ease-out 0s;
}
